name: Release to NuGet

on:
  push:
    tags:
        - "*"

permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    environment: publish
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        
      - name: Build Lib
        run: dotnet build ./src/bbap/bbap.csproj -c Release
      - name: Build Compiler
        run: dotnet build ./src/compiler/compiler.csproj -c Release
        
      - name: Test Lib
        run: dotnet test ./src/bbap -c Release --no-build
      - name: Test Compiler
        run: dotnet test ./src/compiler/compiler.csproj -c Release --no-build
        
      - name: Pack Lib
        run: dotnet pack ./src/bbap /p:Version=${{ github.ref_name }} -c Release --no-build --output .
      - name: Pack Compiler
        run: dotnet pack ./src/compiler/compiler.csproj /p:Version=${{ github.ref_name }} -c Release --no-build --output .
          
      - name: Push To NuGet
        run: dotnet nuget push "*.nupkg" --api-key ${{ secrets.nuget_api_key }} --source https://api.nuget.org/v3/index.json
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          name: ${{ github.ref_name }}
          generate_release_notes: true
          draft: false
          prerelease: false